
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

:root {
  --bg: #000000;
  --clr-1: #00c2ff;
  --clr-2: #33ff8c;
  --clr-3: #ffc640;
  --clr-4: #e54cff;

  --blur: 1rem;
  --fs: clamp(3rem, 8vw, 7rem);
  --ls: clamp(-1.75px, -0.25vw, -3.5px);
}

body {
  background-color: var(--bg);
  color: #fff;
  font-family: "Inter", "DM Sans", Arial, sans-serif;
}




.subtitle{
  margin-top: 200px;
  font-size: 25px;
}
.subl{
  padding-bottom: 250px;
  font-size: 25px;
}
*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

.content {
  text-align: center;
}

.title {
  font-size: var(--fs);
  font-weight: 800;
  letter-spacing: var(--ls);
  position: relative;
  overflow: hidden;
  margin: 0;
}



.aurora {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: darken;
  pointer-events: none;
}

.aurora__item {
  overflow: hidden;
  position: absolute;
  width: 60vw;
  height: 60vw;
  /* background-color: var(--clr-1); */
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(var(--blur));
  mix-blend-mode: overlay;
}

.aurora__item:nth-of-type(1) {
  top: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-1 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(2) {
  background-color: var(--clr-3);
  right: 0;
  top: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-2 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(3) {
  background-color: var(--clr-2);
  left: 0;
  bottom: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-3 8s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(4) {
  background-color: var(--clr-4);
  right: 0;
  bottom: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-4 24s ease-in-out infinite alternate;
}

@keyframes aurora-1 {
  0% {
    top: 0;
    right: 0;
  }

  50% {
    top: 100%;
    right: 75%;
  }

  75% {
    top: 100%;
    right: 25%;
  }

  100% {
    top: 0;
    right: 0;
  }
}

@keyframes aurora-2 {
  0% {
    top: -50%;
    left: 0%;
  }

  60% {
    top: 100%;
    left: 75%;
  }

  85% {
    top: 100%;
    left: 25%;
  }

  100% {
    top: -50%;
    left: 0%;
  }
}

@keyframes aurora-3 {
  0% {
    bottom: 0;
    left: 0;
  }

  40% {
    bottom: 100%;
    left: 75%;
  }

  65% {
    bottom: 40%;
    left: 50%;
  }

  100% {
    bottom: 0;
    left: 0;
  }
}

@keyframes aurora-4 {
  0% {
    bottom: -50%;
    right: 0;
  }

  50% {
    bottom: 0%;
    right: 40%;
  }

  90% {
    bottom: 50%;
    right: 25%;
  }

  100% {
    bottom: -50%;
    right: 0;
  }
}

@keyframes aurora-border {
  0% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }

  25% {
    border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
  }

  50% {
    border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
  }

  75% {
    border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
  }

  100% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }
}








/* .hero-container {
  display: flex;
  align-items: center;
  position: relative;
}
.hero-container::after,
.hero-container::before {
  content: "";
  position: absolute;
  width: 28.125rem;
  height: 28.125rem;
  border-radius: 28.125rem;
  background-color: #7c66e3;
  z-index: -1;
  filter: blur(225px);
}
.hero-container::after {
  top: -3rem;
  right: -5rem;
}
.hero-container::before {
  bottom: 2rem;
  right: 0rem;
}
.hero-content {
  flex: 1;
}
.hero-content h2 {
  font-size: 3.8rem;
  font-weight: 600;
  line-height: 5rem;
  margin-bottom: 1rem;
}
.hero-content p {
  width: 80%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
}
.hero-img {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}
.hero-img > div {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}
.hero-img > div > img {
  width: 25rem;
  transition: all 0.3s ease;
}

.tech-icon {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.65rem;
  border: 1.5px solid #6852ba;
}
.tech-icon img {
  width: 3rem;
  height: auto;
  transition: all 0.3s ease;
}
.hero-img > div > img:hover,
.tech-icon img:hover {
  transform: translateY(-0.5rem);
}

@media (max-width: 1025px) {
  .hero-content h2 {
    font-size: 3rem;
    line-height: 4rem;
  }
  .hero-content p {
    font-size: 0.9rem;
    line-height: 1.6rem;
  }
  .hero-img > div > img {
    width: 20rem;
  }
  .tech-icon {
    width: 4rem;
    height: 4rem;
  }
  .tech-icon img {
    width: 2.5rem;
  }
}

@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
  }
  .hero-img {
    margin: 2rem 0 2rem 0;
  }
  .hero-container h2 {
    margin-top: 3rem;
  }
  .hero-content h2,
  .hero-content p {
    width: auto;
    text-align: center;
  }
  .hero-container::after,
  .hero-container::before {
    content: " ";
    width: 18rem;
    height: 18rem;
  }
  .hero-container::after {
    top: 0rem;
    left: 0rem;
  }
  .hero-container::before {
    bottom: 2rem;
    right: 0rem;
  }
}
@media (max-width: 600px) {
  .hero-content h2 {
    font-size: 2.2rem;
    line-height: 3rem;
  }
  .hero-content p {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
  .hero-img {
    gap: 1rem;
  }
  .hero-img > div > {
    gap: 1rem;
  }
  .hero-img > div > img {
    width: 16rem;
  }
  .tech-icon {
    width: 3.3rem;
    height: 3.3rem;
  }
  .tech-icon img {
    width:2rem;
  }
} */
