.skills {
    display: flex; /* Align items in a row */
    gap: 1rem; /* Add spacing between items */
    justify-content: center; /* Center items horizontally */
    flex-wrap: wrap; /* Allow items to wrap to the next row if needed */
    margin: 1rem 0; /* Add vertical margin */
  }
  

.skills-card{
    border-radius:0.65rem;
    border:1.5px solid #6751b9;
    padding:10px;
    text-align: center;
    background: rgba(22, 17, 47, 0.398);
    backdrop-filter: blur(1rem);
    position:relative;
    cursor:pointer;
    transition:all 0.3s ease;

}
.skills-card:hover,
.skills-card:active{
    background: linear-gradient(180deg, #aa94fe, 0%, #7c5fe6 100%);
}
.skills-card span{
    font-size:1rem;
    font-weight:500;
}

.skill-icon img{
    width:2.4rem;
    height: auto;
    object-fit: contain;

}
@media(max-width:1025px){
    .skills-card{
        padding:2rem;
    }
    .skills-card span{
        font-size:1rem;
    }
    .skill-icon{
        width:3rem;
        height: 3rem;
    }
    .skill-icon img{
        width:1.8rem;
    }
}
@media(max-width:768px){
    .skills-card span{
      font-size:0.9rem;
    }
  
}